
body {
    background-color: #000000;
    font-family: sans-serif, serif;
}

/* Styling of navigation bar starts from here */
.saltnpepperimg {
    position: relative;
    left: 40px;
}
.homelink {
    color: white;
    text-decoration: none;
}
.home {
    position: relative;
    left: 220px;
    font-size: 20px;
}
.aboutuslink {
    text-decoration: none;
    color: white;
}
.aboutus {
    position: relative;
    left: 270px;
    font-size: 20px;
}
.publicationlink {
    text-decoration: none;
    color: white;
}
.publication {
    position: relative;
    left: 320px;
    font-size: 20px;
}
.brancheslink {
    text-decoration: none;
    color: white;
}
.branches {
    position: relative;
    left: 370px;
    font-size: 20px;
}
.feedbacklink {
    text-decoration: none;
    color: white;
}
.feedback {
    position: relative;
    left: 420px;
    font-size: 20px;
}
.franchiselink {
    text-decoration: none;
    color: white;
}
.franchise {
    position: relative;
    left: 470px;
    font-size: 20px;
}
.ordernowlink {
    text-decoration: none;
    color: white;
}
.ordernow {
    position: relative;
    left: 500px;
    font-size: 20px;
}
/* Styling of navigation bar ends here */

/* Styling of the imgage after navigation bar starts here */
.afternavbarimg {
    width: 100%;
    position: relative;
    top: 10px;
}
/* Styling of the imagee after navigation bar ends here */

/* Styling of heading1 start here */
#heading1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 150;
    color: white;
}
/* Styling of heading1 end here */

/* Styling of container3 and container4 starts here in which food category is  */
#container3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#container4 {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.container4links {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
/* Styling of container3 and container4 ends here */

/* Stylingo of container5 starts here in which vertical imagee and texxt is */
#container5 {
    
    background-color: #0f0f0f;
    display: flex;
    flex-direction: row;

}
.frontofsteakheading {
    font-weight: 100;
    font-size: 25px;
    color: red;
    background-color: #0f0f0f;
    position: absolute;
    left: 59%;
    top: 1150px;
}
.discoverthetaste {
    font-size: 40px;
    color: white;
    background-color: #0f0f0f;

}
.paraofsteakimg {
    position: relative;
    display: flex;
    font-size: 18px;
    color: gray;
    background-color: #0f0f0f;
}
.learnmore {
    background-color: #0f0f0f;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
.arrowimg {
    position: relative;
    top: 15px;
    height: 45px;
    width: 50px;
    border: 0px solid;
    border-radius: 50%;
}
/* Styling of container5 ends here */

/* Styling of container6 starts here */
.ourdeals {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: 35px;
}
#container6 {
   color: white;
   display: flex;
   justify-content: center;
   gap: 60px;
}
#container7 {
    display: flex;
    justify-content: center;
}
.viplink {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    left: 100px;
    top: 10px;
}
.chickenshashlik {
    color: lightgray;
    font-size: 13px;
    position: relative;
    right: 150px;
    
}
.pkr {
    position: relative;
    top: 10px;
    right: 30px;
}
.shashlikordernow {
    position: relative;
    top: 30px;
    right: 60px;
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 10px 30px;
}
.pakistanivip {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    left: 120px;
    top: 10px;
}
.chickenhandi {
    font-size: 13px;
    color: lightgray;
    position: relative;
    right: 120px;
}
.pkr2 {
    position: relative;
    top: 10px;

}
.handiordernow {
    position: relative;
    top: 30px;
    right: 30px;
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 10px 30px;
}
.superior {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    left: 180px;
    top: 10px;
}
.friedchicken {
    color: lightgray;
    font-size: 13px;
    position: relative;
    right: 130px;
}
.pkr3 {
    position: relative;
    top: 10px;
    right: 5px;
}
.friedchickenordernow {
    position: relative;
    top: 30px;
    right: 30px;
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 10px 30px;
}
#container8 {
    display: flex;
    justify-content: center;
    gap: 60px;
}
#container9 {
    display: flex;
}
.pakistanibbq {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    left: 250px;
    top: 10px;
}
.chickentikka {
    font-size: 13px;
    color: lightgray;
    position: relative;
    right: 85px;
}
.pkr4 {
    position: relative;
    top: 10px;
    right: 10px;
}
.tikkaordernow {
    border: 1px solid red;
    border-radius: 30px;
    background-color: red;
    padding: 10px 30px;
    position: relative;
    top: 30px;
    right: 40px;
}
.pakistanideluxe {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
    left: 350px;
}
.chickenseekhkabab {
    font-size: 13px;
    color: lightgray;
    position: relative;
    right: 110px;
}
.pkr5 {
    position: relative;
    top: 10px;
    left: 8px;
}
.seekhkababordernow {
    position: relative;
    top: 30px;
    right: 30px;
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    padding: 10px 30px;
}
.deluxe {
    font-family: sans-serif, serif;
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
    left: 370px;
}
.chickensandwich {
    font-size: 13px;
    color: lightgray;
    position: relative;
    right: 70px;
}
.pkr6 {
    position: relative;
    top: 10px;
    right: 10px;
}
.chickensandwichordernow {
    position: relative;
    top: 30px;
    right: 40px;
    border: 1px solid red;
    border-radius: 30px;
    background-color: red;
    padding: 10px 30px;
}
.socialfeed {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#container10 {
    display: flex;
    justify-content: space-around;
}
footer {
    background-color: #0f0f0f;
}
.footer2 {
    background-color: #0f0f0f;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
}
.footerdata1 {
    box-sizing: border-box;
    width: 380px;
    height: 50px;
    color: lightgray;
}
.footerpara1 {
    line-height: 23px;
}
.footerdata2 {
    box-sizing: border-box;
    width: 150px;
    color: lightgray;
}
.footerdata3 {
    color: white;
    box-sizing: border-box;
    width: 250px;
}
.footerdata4 {
    color: white;
    box-sizing: border-box;
    width: 250px;
}
.footerimg {
    border-radius: 50px;
}
.lastcontainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
    color: lightgray;
}