* {
    background-color: black;
}

.saltnpepperimg {
    position: relative;
    left: 50px;
}
.homelink {
    color: white;
    text-decoration: none;
}
.home {
    position: relative;
    left: 220px;
    font-size: 20px;
}
.aboutuslink {
    text-decoration: none;
    color: white;
}
.aboutus {
    position: relative;
    left: 270px;
    font-size: 20px;
}
.publicationlink {
    text-decoration: none;
    color: white;
}
.publication {
    position: relative;
    left: 320px;
    font-size: 20px;
}
.brancheslink {
    text-decoration: none;
    color: white;
}
.branches {
    position: relative;
    left: 370px;
    font-size: 20px;
}
.feedbacklink {
    text-decoration: none;
    color: white;
}
.feedback {
    position: relative;
    left: 420px;
    font-size: 20px;
}
.franchiselink {
    text-decoration: none;
    color: white;
}
.franchise {
    position: relative;
    left: 470px;
    font-size: 20px;
}
.ordernowlink {
    text-decoration: none;
    color: white;
}
.ordernow {
    position: relative;
    left: 520px;
    font-size: 20px;
}
.afternavbarimg {
    width: 100%;
    position: relative;
    top: 10px;
}
#heading1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 150;
    color: white;
}
#container3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
#container4 {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.container4links {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
#container5 {
    background-color: #202327;
    display: flex;
    flex-direction: row;
}
.frontofsteakheading {
    font-weight: 100;
    font-size: 25px;
    color: red;
    background-color: #202327;
    position: absolute;
    left: 59%;
    top: 1150px;
}
.discoverthetaste {
    font-size: 40px;
    color: white;
    background-color: #202327;

}
.paraofsteakimg {
    position: relative;
    display: flex;
    font-size: 18px;
    color: gray;
    background-color: #202327;
}
.learnmore {
    background-color: #202327;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
.arrowimg {
    position: relative;
    top: 15px;
    height: 45px;
    width: 50px;
    border: 0px solid;
    border-radius: 50%;
}
.ourdeals {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: 35px;
}